<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServoUtility.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ServoUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ServoUtility.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <ServoUtility.Settings>
      <setting name="Client" serializeAs="String">
        <value>FreeSO.exe</value>
      </setting>
      <setting name="IDE" serializeAs="String">
        <value>Volcanic.exe</value>
      </setting>
      <setting name="Args" serializeAs="String">
        <value>800x600 w</value>
      </setting>
      <setting name="isGUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TeamCity" serializeAs="String">
        <value>servo.freeso.org</value>
      </setting>
      <setting name="BuildType" serializeAs="String">
        <value>FreeSO_TsoClient</value>
      </setting>
      <setting name="Updater" serializeAs="String">
        <value>BlueRoseLauncher.exe</value>
      </setting>
      <setting name="ThirdParty" serializeAs="String">
        <value>ThirdParty.exe</value>
      </setting>
    </ServoUtility.Settings>
    <ServoUtility.Properties.Settings>
      <setting name="Client" serializeAs="String">
        <value>FreeSO.exe</value>
      </setting>
      <setting name="IDE" serializeAs="String">
        <value>Volcanic.exe</value>
      </setting>
      <setting name="Args" serializeAs="String">
        <value>800x600 w</value>
      </setting>
      <setting name="isGUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TeamCity" serializeAs="String">
        <value>servo.freeso.org</value>
      </setting>
      <setting name="BuildType" serializeAs="String">
        <value>FreeSO_TsoClient</value>
      </setting>
    </ServoUtility.Properties.Settings>
  </userSettings>
</configuration>